*{
    box-sizing: border-box;
}
body{
    background-image: url(https://images.unsplash.com/photo-1442570468985-f63ed5de9086?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHRyYWlufGVufDB8fDB8fHww);
    background-repeat: no-repeat;
    margin-left: 10%;
    margin-right: 10%;
    background-size: cover;
    
}
.hd{
    text-align: center;
    padding:10px;
    margin-left: 10%;
    margin-right: 5%;
    color:#653e03;
    font-weight: bold;
    font-size:40px;
    font-family:'Bebas Neue' , sans-serif;
    font-weight: bold;
    
}
.main{
    border:1px black solid;
    background-color: #ffffcc;
    border-radius: 10px;
    text-align: center;
    margin-left:33%;
    margin-right: 33.3%;
    padding:10px;
    margin-bottom: 10px;
    color:#362101;
    width:600px;
   
}
.menu{
    border:1px black solid;
    border-radius: 10px;
    background-color: rgb(183, 148, 106);
    color:#362101;
    font-weight: bold;
    font-size:14px;
    text-align: center;
    display:inline-block;
    margin:auto;
    padding:5px;
    margin-top:6px;
    
}
a:hover{
color:rgb(45, 24, 2);
}
a:link{
    color:#362101;
text-decoration: none;
}
.tab{
border:1px black solid;
border-radius: 15px;
background-color: #e2ccb5;
margin-left: 20%;
width:800px;
color:black;
font-weight: bold;
font-style:normal;
text-align:center;
font-size: 15px;
margin-bottom:10px;
padding:10px;
margin-top:10px;
font-family:'Bebas Neue' , sans-serif;
}

.yel{
color:yellow;
}
.red{
color:red;
}
.green{
color:green;
}
.brown{
color:rgb(140, 69, 3);
}
.darkbrowm{
    color: #362101;
}
.home{
border:1px black solid;
border-radius: 5px;
background-color:rgb(156, 94, 2);
margin-left: -10%;
/* width:200px; */
color:rgb(106, 47, 2);
font-style:italic;
font-weight: bold;
text-align:center;
/* font-size: 22px; */
margin-bottom:7px;
text-align:center;
height:40px;
padding:auto;
float:left;
clear:both;
width:160px;

}
table{
border:2px solid black;
text-align: center;
padding:5px;
width:750px;
}

td{
padding:5px;
border:1px solid black;
}
th{
color:rgb(170, 76, 4);
font-size:20px;
}
footer{
margin-top: 25%;
}
.btn{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(215, 206, 198);
    border-radius: 10%;
    transition: background-color 1s;
    font-size: 20px;
}
.btn:hover{
    background-color: rgb(175, 150, 123);
    color: white;
}
.viewtb{
    text-align: center;
    background-color: #b58b4b;
    margin-left: auto;
    margin-right: auto;
}
